<!DOCTYPE html>
<html lang="en">

{% include zh/head.html %}
<style type="text/css">
#main  h1 {
    font-size: .5rem;
}

#main  h2, h3, h4, h5, h6 {
    font-size: 40px;
    font-weight: normal;
}
#main  .container , p{
	font-size: 16px;
	line-height: 2;
}

#main {
	padding-top: 62px;
}

#main .table td, .table th {
    padding: 10px;
}

#main .table {
    margin-bottom: 16px;
}

</style>

<body>
    <div id="top"></div>
	
	{% include zh/header.html %}  
	
	<main id="main"  >
		<div id="content" class="container">
			{{ content }}
		</div>
	</main>
	
	{% include zh/footer.html %}
</body>
    
</html>