    <!-- CTA Section -->
    <section class="cta">
        <div class="container">
            <h2>JinBooks | 专注财务管理和CRM</h2>
            <button class="cta-button">免费体验</button>
        </div>
    </section>

    <!-- Footer -->
    <footer class="footer">
        <div class="container">
            <div class="footer-grid">
                <div>
                    <div class="footer-brand">
                        <div class="logo">
                            <div class="logo-icon"></div>
                        </div>
                        <span>JinBooks</span>
                    </div>
                    <div class="qr-code"><img src="static/images/qrcode.png" style="width: 120px;"></div>
                </div>

                <div class="footer-section">
                    <h4>财务软件</h4>
                    <ul>
                        <li><a href="#">Spring Book</a></li>
                        <li><a href="#">Cloud</a></li>
                        <li><a href="#">Mobile Plus</a></li>
                        <li><a href="#">Element Plus</a></li>
                        <li><a href="#">App</a></li>
                        <li><a href="#">MiStore</a></li>
                    </ul>
                </div>

                <div class="footer-section">
                    <h4>管理软件</h4>
                    <ul>
                        <li><a href="#">Vip 版</a></li>
                        <li><a href="#">Vip 版</a></li>
                    </ul>
                </div>

                <div class="footer-section">
                    <h4>开源</h4>
                    <ul>
                        <li><a href="#">协议条款</a></li>
                        <li><a href="#">JAVA</a></li>
                    </ul>
                </div>

                <div class="footer-section">
                    <h4>技术支持</h4>
                    <ul>
                        <li><a href="#">技术支持</a></li>
                        <li><a href="#">CRM</a></li>
                    </ul>
                </div>

                <div class="footer-section">
                    <h4>体验支持</h4>
                    <ul>
                        <li><a href="#">功能体验</a></li>
                        <li><a href="#">产品体验</a></li>
                        <li><a href="#">开发体验</a></li>
                    </ul>
                </div>
            </div>

            <!--<div class="footer-bottom">
                <span>鄂ICP备15xxxxx号 www.xxxxxxx.com.cn</span>
                <span>鄂公网安备xxxxxxxxxx号</span>
                <span>增值电信业务经营许可证xxxxxxxxxx号</span>
            </div>
			-->
        </div>
    </footer>
	
	<script type="text/javascript" src="{{ "/static/js/popper.min.js" | prepend: site.baseurl }}?{{ site.time | date: "%Y%m%d%H%M" }}"></script>
	<script type="text/javascript" src="{{ "/static/js/jquery.min.js" | prepend: site.baseurl }}?{{ site.time | date: "%Y%m%d%H%M" }}"></script>
	<script type="text/javascript" src="{{ "/static/js/bootstrap.min.js" | prepend: site.baseurl }}?{{ site.time | date: "%Y%m%d%H%M" }}"></script>
	<script type="text/javascript" src="{{ "/static/js/script.js" | prepend: site.baseurl }}?{{ site.time | date: "%Y%m%d%H%M" }}"></script>
	
	 
	<script src="{{ "/static/js/highlight-10.1.2/highlight.pack.js" | prepend: site.baseurl }}?{{ site.time | date: "%Y%m%d%H%M" }}"></script>

	<script>hljs.initHighlightingOnLoad();</script>
	 
	<script>
		
		var _hmt = _hmt || [];
		(function() {
		 var hm = document.createElement("script");
		  hm.src = "https://hm.baidu.com/hm.js?3190a3a1904a09c48625744a4380bbb5";
		  var s = document.getElementsByTagName("script")[0]; 
		  s.parentNode.insertBefore(hm, s);
		})();
		
		currentLang = navigator.language;   //判断除IE外其他浏览器使用语言
		if(!currentLang){//判断IE浏览器使用语言
			currentLang = navigator.browserLanguage;
		}
		
		if(currentLang.substr(0,2).toLowerCase()=="zh"){

		}
		
		$(window).on('load', function() {
			$("#content img").addClass("img-responsive center-block");
		});
	</script>
	
	<!-- #footer -->